.App {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 50%;
    min-height: 300px;
    background-color:rgba(0, 0, 0, 0.82);
    color: #fff;
    padding: 2rem;
    border-radius: 1rem;

}

.countdown-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;  
}